$colors: (
  primary: (
    "blue": hsl(223, 87%, 63%),
  ),
  accent: (
    "blue": hsl(223, 100%, 88%),
    "red": hsl(354, 100%, 66%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 59%),
    400: hsl(209, 33%, 12%),
  ),
);
